# ---- Dominio ----
DOMAIN=portfolio.edumathsv.work

# ---- Base de datos ----
POSTGRES_DB=portfolio_db
POSTGRES_USER=portfolio_user
POSTGRES_PASSWORD=cambiar_seguro

# ---- Backend ----
SPRING_PROFILES_ACTIVE=prod
JWT_SECRET=generar_con_openssl_rand_base64_64
